.PrintDialogContent { 
    padding: 1px;
    width: 800px;

    .clear {
        clear: both;
    }

    .printIcons{
        text-align: right;
    }
    .detailsListMargin{
        margin-top: 10px;
        border: 1px solid #eeeeee;
    }
}